.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note
{
    font-size: 15px;
    color: black;
}

.copyright_footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: grey;
    line-height: 3;
}

canvas
{
    border-radius: 20px;
    border: 10px white solid;
    box-shadow: 5px 5px 5px grey;

}